l1_workflow_v7.json
{
    "name": "BambiGO L1: Single Station Test V7",
    "nodes": [
        {
            "parameters": {},
            "name": "Start",
            "type": "n8n-nodes-base.start",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://bambigo-mvp.vercel.app/api/context/list",
                "options": {}
            },
            "name": "Get Station List",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "// Extract first station for testing\nconst response = items[0].json;\nconst nodes = response.nodes || [];\n\nif (nodes.length === 0) {\n  return [{ json: { error: 'No stations found' } }];\n}\n\n// Take first station\nconst station = nodes[0];\n\n// Define all categories to loop through\nconst categories = [\n  { category: 'shopping', query_key: 'shop' },\n  { category: 'dining', query_key: 'amenity', query_val: 'restaurant|cafe|fast_food' },\n  { category: 'medical', query_key: 'amenity', query_val: 'pharmacy|clinic|hospital' },\n  { category: 'leisure', query_key: 'leisure' },\n  { category: 'finance', query_key: 'amenity', query_val: 'bank|atm' }\n];\n\n// Output one item per category, each with station info embedded\nreturn categories.map(cat => ({\n  json: {\n    stationId: station.id,\n    stationName: station.name?.en || station.id,\n    target_lat: station.location?.lat || 35.7141,\n    target_lon: station.location?.lng || 139.7774,\n    category: cat.category,\n    query_key: cat.query_key,\n    query_val: cat.query_val || ''\n  }\n}));"
            },
            "name": "Prepare Categories",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "name": "Loop Categories",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 1,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "// Build Overpass Query from current item\nconst item = items[0].json;\nconst lat = item.target_lat;\nconst lon = item.target_lon;\nconst key = item.query_key;\nconst val = item.query_val || '';\nconst radius = 1000;\n\nlet selector = `[\"${key}\"]`;\nif (val) {\n  selector = `[\"${key}\"~\"${val}\"]`;\n}\n\nconst query = `[out:json][timeout:25];\n(\n  node${selector}(around:${radius},${lat},${lon});\n  way${selector}(around:${radius},${lat},${lon});\n);\nout center body;`;\n\nreturn [{\n  json: {\n    ...item,\n    query\n  }\n}];"
            },
            "name": "Build Query",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "requestMethod": "POST",
                "url": "https://overpass-api.de/api/interpreter",
                "options": {},
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "data",
                            "value": "={{$json[\"query\"]}}"
                        }
                    ]
                }
            },
            "name": "OSM API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                1100,
                200
            ]
        },
        {
            "parameters": {},
            "name": "Pass Context",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                1100,
                400
            ]
        },
        {
            "parameters": {
                "amount": 2,
                "unit": "seconds"
            },
            "name": "Rate Limit",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                1300,
                200
            ]
        },
        {
            "parameters": {
                "mode": "mergeByIndex"
            },
            "name": "Merge",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 1,
            "position": [
                1500,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "// Process merged data\nconst elements = items[0].json.elements || [];\nconst meta = items[0].json.stationId ? items[0].json : (items[1] ? items[1].json : {});\n\nconst category = meta.category || 'unknown';\nconst stationId = meta.stationId || 'unknown';\n\nif (elements.length === 0) {\n  return [{ json: { status: 'skipped', category, stationId, count: 0 } }];\n}\n\nconst processed = elements.map(el => {\n  const tags = el.tags || {};\n  if (!tags.name) return null;\n  return {\n    osm_id: el.id,\n    name: tags.name,\n    category,\n    location: { lat: el.lat || el.center?.lat, lon: el.lon || el.center?.lon },\n    tags\n  };\n}).filter(Boolean);\n\nreturn [{\n  json: {\n    stationId,\n    category,\n    count: processed.length,\n    items: processed\n  }\n}];"
            },
            "name": "Clean Data",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1700,
                300
            ]
        },
        {
            "parameters": {
                "requestMethod": "POST",
                "url": "https://bambigo-mvp.vercel.app/api/l1/ingest",
                "jsonParameters": true,
                "options": {},
                "bodyParametersJson": "={{JSON.stringify($json)}}"
            },
            "name": "Send to Backend",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                1900,
                300
            ]
        }
    ],
    "connections": {
        "Start": {
            "main": [
                [
                    {
                        "node": "Get Station List",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Station List": {
            "main": [
                [
                    {
                        "node": "Prepare Categories",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Categories": {
            "main": [
                [
                    {
                        "node": "Loop Categories",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Categories": {
            "main": [
                [
                    {
                        "node": "Build Query",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Query": {
            "main": [
                [
                    {
                        "node": "OSM API",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Pass Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OSM API": {
            "main": [
                [
                    {
                        "node": "Rate Limit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Rate Limit": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Pass Context": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge": {
            "main": [
                [
                    {
                        "node": "Clean Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Clean Data": {
            "main": [
                [
                    {
                        "node": "Send to Backend",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to Backend": {
            "main": [
                [
                    {
                        "node": "Loop Categories",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}