l1_workflow_v8.json
{
    "name": "BambiGO L1: Bulletproof V8",
    "nodes": [
        {
            "parameters": {},
            "name": "Start",
            "type": "n8n-nodes-base.start",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "// [DEBUG MODE] Inject ONE valid station to ensure downstream nodes work\n// If API fails, this node guarantees data flow for validation.\n\nreturn [\n  {\n    json: {\n      nodes: [\n        {\n          id: \"tokyo.jr.ueno\",\n          name: { en: \"Ueno\" },\n          location: { lat: 35.7141, lng: 139.7774 }\n        }\n      ]\n    }\n  }\n];"
            },
            "name": "Inject Test Station",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                300,
                300
            ],
            "notes": "Disable this node to use real API"
        },
        {
            "parameters": {
                "functionCode": "// Flatten Station -> Categories\nconst response = items[0].json;\nconst nodes = response.nodes || [];\n\nif (nodes.length === 0) return [];\n\nconst station = nodes[0];\n\nconst categories = [\n  { category: 'shopping', query_key: 'shop' },\n  { category: 'dining', query_key: 'amenity', query_val: 'restaurant|cafe' },\n  { category: 'convenience', query_key: 'shop', query_val: 'convenience' }\n];\n\nreturn categories.map(cat => ({\n  json: {\n    stationId: station.id,\n    lat: station.location.lat,\n    lon: station.location.lng,\n    category: cat.category,\n    query_key: cat.query_key,\n    query_val: cat.query_val || ''\n  }\n}));"
            },
            "name": "Expand Categories",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "name": "Process One By One",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 1,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "const item = items[0].json;\nconst radius = 500;\n\nlet selector = `[\"${item.query_key}\"]`;\nif (item.query_val) {\n  selector = `[\"${item.query_key}\"~\"${item.query_val}\"]`;\n}\n\nconst query = `[out:json][timeout:25];(node${selector}(around:${radius},${item.lat},${item.lon}););out body;`;\n\nreturn [{ json: { ...item, query } }];"
            },
            "name": "Build Overpass Query",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "requestMethod": "POST",
                "url": "https://overpass-api.de/api/interpreter",
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "data",
                            "value": "={{$json.query}}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "OSM API (Safe)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                1100,
                300
            ]
        },
        {
            "parameters": {
                "amount": 2
            },
            "name": "Rate Limit",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                1300,
                300
            ]
        },
        {
            "parameters": {
                "requestMethod": "POST",
                "url": "https://bambigo-mvp.vercel.app/api/l1/ingest",
                "jsonParameters": true,
                "bodyParametersJson": "={{JSON.stringify({ \n  category: $node[\"Process One By One\"].json.category,\n  stationId: $node[\"Process One By One\"].json.stationId,\n  count: $json.elements ? $json.elements.length : 0,\n  items: $json.elements || [] \n})}}",
                "options": {}
            },
            "name": "Send To Backend",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                1500,
                300
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "Loop Back",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                1700,
                400
            ]
        }
    ],
    "connections": {
        "Start": {
            "main": [
                [
                    {
                        "node": "Inject Test Station",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Inject Test Station": {
            "main": [
                [
                    {
                        "node": "Expand Categories",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Expand Categories": {
            "main": [
                [
                    {
                        "node": "Process One By One",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process One By One": {
            "main": [
                [
                    {
                        "node": "Build Overpass Query",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Overpass Query": {
            "main": [
                [
                    {
                        "node": "OSM API (Safe)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OSM API (Safe)": {
            "main": [
                [
                    {
                        "node": "Rate Limit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Rate Limit": {
            "main": [
                [
                    {
                        "node": "Send To Backend",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send To Backend": {
            "main": [
                [
                    {
                        "node": "Process One By One",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}