l1_workflow_v9.json
{
    "name": "BambiGO L1: Context-Preserving V9",
    "nodes": [
        {
            "parameters": {},
            "name": "Start",
            "type": "n8n-nodes-base.start",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "// [TEST MODE] Inject Station Data\n// Disable this node when connecting real API\nreturn [\n  {\n    json: {\n      nodes: [\n        {\n          id: \"tokyo.jr.ueno\",\n          name: { en: \"Ueno\" },\n          location: { lat: 35.7141, lng: 139.7774 }\n        }\n      ]\n    }\n  }\n];"
            },
            "name": "Inject Test Data",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                300,
                300
            ],
            "disabled": false
        },
        {
            "parameters": {
                "functionCode": "// Flatten to Item List (Station + Category)\nconst input = items[0].json;\nconst nodes = input.nodes || [];\n\nif (nodes.length === 0) return [];\nconst station = nodes[0];\n\nconst categories = [\n  { category: 'shopping', query_key: 'shop' },\n  { category: 'convenience', query_key: 'shop', query_val: 'convenience' },\n  { category: 'dining', query_key: 'amenity', query_val: 'restaurant|cafe' }\n];\n\nreturn categories.map(cat => ({\n  json: {\n    stationId: station.id,\n    stationName: station.name.en,\n    lat: station.location.lat,\n    lon: station.location.lng,\n    category: cat.category,\n    query_key: cat.query_key,\n    query_val: cat.query_val || ''\n  }\n}));"
            },
            "name": "Prepare Items",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "name": "Loop",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 1,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "// Prepare Query\nconst item = items[0].json;\nconst radius = 500;\nlet selector = `[\"${item.query_key}\"]`;\nif (item.query_val) selector = `[\"${item.query_key}\"~\"${item.query_val}\"]`;\n\nconst query = `[out:json][timeout:25];(node${selector}(around:${radius},${item.lat},${item.lon}););out body;`;\n\nreturn [{ json: { ...item, query } }];"
            },
            "name": "Build Query",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "requestMethod": "POST",
                "url": "https://overpass-api.de/api/interpreter",
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "data",
                            "value": "={{$json.query}}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "OSM API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                1100,
                200
            ]
        },
        {
            "parameters": {},
            "name": "Pass Context",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                1100,
                400
            ]
        },
        {
            "parameters": {
                "mode": "mergeByIndex",
                "join": "inner"
            },
            "name": "Merge Data",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 1,
            "position": [
                1300,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "// Format for Backend\n// Input 1: OSM Response (elements array)\n// Input 2: Context (stationId, category)\n\n// Debug: ensure we have both\nconst osmData = items[0].json;\nconst context = items[0].json;\n\n// Note: mergeByIndex merges into a single item. \n// If OSM API overwrote json, we need to check how Merge behaves.\n// Usually Merge combines fields. \n\nconst elements = osmData.elements || [];\nconst count = elements.length;\n\nreturn [{\n  json: {\n    category: context.category,\n    stationId: context.stationId,\n    count: count,\n    items: elements\n  }\n}];"
            },
            "name": "Format Output",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1500,
                300
            ]
        },
        {
            "parameters": {
                "requestMethod": "POST",
                "url": "https://bambigo-mvp.vercel.app/api/l1/ingest",
                "jsonParameters": true,
                "options": {},
                "bodyParametersJson": "={{JSON.stringify($json)}}"
            },
            "name": "Send Backend",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                1700,
                300
            ]
        },
        {
            "parameters": {
                "amount": 2
            },
            "name": "Rate Limit",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                1900,
                300
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "Loop End",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                2100,
                300
            ]
        }
    ],
    "connections": {
        "Start": {
            "main": [
                [
                    {
                        "node": "Inject Test Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Inject Test Data": {
            "main": [
                [
                    {
                        "node": "Prepare Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Items": {
            "main": [
                [
                    {
                        "node": "Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop": {
            "main": [
                [
                    {
                        "node": "Build Query",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Query": {
            "main": [
                [
                    {
                        "node": "OSM API",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Pass Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OSM API": {
            "main": [
                [
                    {
                        "node": "Merge Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Pass Context": {
            "main": [
                [
                    {
                        "node": "Merge Data",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge Data": {
            "main": [
                [
                    {
                        "node": "Format Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Output": {
            "main": [
                [
                    {
                        "node": "Send Backend",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Backend": {
            "main": [
                [
                    {
                        "node": "Rate Limit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Rate Limit": {
            "main": [
                [
                    {
                        "node": "Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}