l1_workflow_v6.json
{
    "name": "BambiGO L1: Bulk Station Ingestion V6 (Double Loop)",
    "nodes": [
        {
            "parameters": {},
            "name": "Start",
            "type": "n8n-nodes-base.start",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "url": "http://localhost:3000/api/context/list",
                "options": {}
            },
            "name": "Get Station List",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "name": "Loop Stations",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "// Define Categories to fetch sequentially\nreturn [\n  { json: { category: 'shopping', query_key: 'shop' } },\n  { json: { category: 'dining', query_key: 'amenity', query_val: 'restaurant|cafe|fast_food' } },\n  { json: { category: 'medical', query_key: 'amenity', query_val: 'pharmacy|clinic|hospital|dentist' } },\n  { json: { category: 'leisure', query_key: 'leisure' } },\n  { json: { category: 'education', query_key: 'amenity', query_val: 'school|university|kindergarten' } },\n  { json: { category: 'finance', query_key: 'amenity', query_val: 'bank|atm' } },\n  { json: { category: 'accommodation', query_key: 'tourism', query_val: 'hotel|hostel|guest_house' } },\n  { json: { category: 'culture', query_key: 'tourism', query_val: 'museum|art_gallery' } },\n  { json: { category: 'service', query_key: 'amenity', query_val: 'post_office|police|townhall' } },\n  { json: { category: 'nature', query_key: 'leisure', query_val: 'park|garden' } }\n];"
            },
            "name": "Set Categories",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "name": "Loop Categories",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 1,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "// Construct Overpass Query\n// Context: We are inside Inner Loop (Category), but need Outer Loop (Station) data\n\n// 1. Get Current Category\nconst categoryItem = items[0].json;\nconst category = categoryItem.category;\nconst key = categoryItem.query_key;\nconst val = categoryItem.query_val || '';\n\n// 2. Get Current Station (From Outer Loop Node)\n// Access the output of \"Loop Stations\"\n// Note: This relies on n8n's referencing. If this fails, use Merge node pattern (V4 logic) inside here.\n// But for nested loops, simple reference usually works if strictly linear.\n// Better Safety: We assume the previous SplitInBatches(Stations) is the source of truth.\n\n// Wait, accessing $node inside double loop can be tricky. \n// To be safe, we use a Merge node pattern for the STATION info too, or just use hard referencing if we trust it.\n// Let's use referencing for now, but robustness is key.\n\nconst stationNode = $node[\"Loop Stations\"];\nconst stationData = stationNode.json.nodes ? stationNode.json.nodes : stationNode.json; // Handle structure\n// Actually, SplitInBatches Output is simple.\nconst currentStation = stationNode.json;\n\nconst lat = currentStation.location?.lat || 35.7141;\nconst lon = currentStation.location?.lng || currentStation.location?.lon || 139.7774;\nconst stationId = currentStation.id;\n\nconst radius = 1000;\n\n// Construct selector\nlet selector = `[\"${key}\"]`;\nif (val) {\n  selector = `[\"${key}\"~\"${val}\"]`;\n}\n\nconst query = `\n[out:json][timeout:25];\n(\n  node${selector}(around:${radius},${lat},${lon});\n  way${selector}(around:${radius},${lat},${lon});\n  relation${selector}(around:${radius},${lat},${lon});\n);\nout center body;\n`;\n\n// Pass EVERYTHING needed for Ingest\nreturn [\n  {\n    json: {\n      query,\n      category,\n      stationId,\n      target_lat: lat,\n      target_lon: lon\n    }\n  }\n];"
            },
            "name": "Build Context",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1100,
                300
            ]
        },
        {
            "parameters": {
                "requestMethod": "POST",
                "url": "https://overpass-api.de/api/interpreter",
                "options": {},
                "bodyParametersUi": {
                    "parameter": [
                        {
                            "name": "data",
                            "value": "={{$json[\"query\"]}}"
                        }
                    ]
                }
            },
            "name": "OSM API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                1300,
                200
            ]
        },
        {
            "parameters": {},
            "name": "Pass Context",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                1300,
                400
            ]
        },
        {
            "parameters": {
                "amount": 2,
                "unit": "seconds"
            },
            "name": "Rate Limit",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                1500,
                200
            ]
        },
        {
            "parameters": {
                "mode": "mergeByIndex"
            },
            "name": "Merge Context",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 1,
            "position": [
                1700,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "// Process Merged Data \nconst elements = items[0].json.elements || [];\n\n// Get Metadata from Context Branch (Index 1) or merged props\n// Note: MergeByIndex merges objects if indices match.\nconst meta = items[0].json.stationId ? items[0].json : (items[1] ? items[1].json : {});\n\nconst category = meta.category || 'unknown';\nconst stationId = meta.stationId || 'unknown';\nconst origin = {\n  lat: meta.target_lat,\n  lon: meta.target_lon\n};\n\n// Filter empty results early?\nif (elements.length === 0) {\n    return [\n        {\n            json: {\n                status: 'skipped_empty',\n                category,\n                stationId\n            }\n        }\n    ];\n}\n\nconst processed = elements.map(el => {\n  const tags = el.tags || {};\n  if (!tags.name) return null;\n\n  const lat = el.lat || el.center?.lat;\n  const lon = el.lon || el.center?.lon;\n\n  return {\n    osm_id: el.id,\n    name: tags.name,\n    category: category,\n    location: { lat, lon },\n    tags: tags\n  };\n}).filter(i => i !== null);\n\nreturn [\n  {\n    json: {\n      category,\n      stationId,\n      count: processed.length,\n      items: processed,\n      origin\n    }\n  }\n];"
            },
            "name": "Clean Data",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1900,
                300
            ]
        },
        {
            "parameters": {
                "requestMethod": "POST",
                "url": "http://localhost:3000/api/l1/ingest",
                "jsonParameters": true,
                "options": {},
                "bodyParametersJson": "={{JSON.stringify($json)}}"
            },
            "name": "Send to Backend",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                2100,
                300
            ]
        }
    ],
    "connections": {
        "Start": {
            "main": [
                [
                    {
                        "node": "Get Station List",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Station List": {
            "main": [
                [
                    {
                        "node": "Loop Stations",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Stations": {
            "main": [
                [
                    {
                        "node": "Set Categories",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Categories": {
            "main": [
                [
                    {
                        "node": "Loop Categories",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Categories": {
            "main": [
                [
                    {
                        "node": "Build Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Context": {
            "main": [
                [
                    {
                        "node": "OSM API",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Pass Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OSM API": {
            "main": [
                [
                    {
                        "node": "Rate Limit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Rate Limit": {
            "main": [
                [
                    {
                        "node": "Merge Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Pass Context": {
            "main": [
                [
                    {
                        "node": "Merge Context",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge Context": {
            "main": [
                [
                    {
                        "node": "Clean Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Clean Data": {
            "main": [
                [
                    {
                        "node": "Send to Backend",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to Backend": {
            "main": [
                [
                    {
                        "node": "Loop Categories",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}