l3_workflow_v1.json
{
    "name": "BambiGO L3: V1 (Internal Amenities)",
    "nodes": [
        {
            "id": "node-start",
            "parameters": {},
            "name": "Start",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "id": "node-get-stations",
            "parameters": {
                "url": "https://bambigo-mvp.vercel.app/api/context/list",
                "options": {}
            },
            "name": "Get Station List",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                300,
                300
            ]
        },
        {
            "id": "node-explode-l3",
            "parameters": {
                "jsCode": "const response = items[0].json;\nconst nodes = response.nodes || [];\n\n// SAME FILTER as V24\n// JR East, Tokyo Metro, Toei Subway, Keisei, Tsukuba Express\nconst targetOperators = ['JR-East', 'TokyoMetro', 'Toei', 'Keisei', 'TsukubaExpress', 'jr'];\n\nconst categories = [\n  { category: 'toilet', query_key: 'amenity', query_val: 'toilets', radius: 100 },\n  { category: 'elevator', query_key: 'highway', query_val: 'elevator', radius: 50 },\n  { category: 'locker', query_key: 'amenity', query_val: 'locker', radius: 100 },\n  { category: 'atm', query_key: 'amenity', query_val: 'atm', radius: 100 },\n  { category: 'vending', query_key: 'amenity', query_val: 'vending_machine', radius: 50 },\n  { category: 'smoking', query_key: 'amenity', query_val: 'smoking_area', radius: 100 }\n];\n\nconst tasks = [];\n\nnodes.forEach(station => {\n  const stationId = station.id.toLowerCase();\n  const isTarget = targetOperators.some(op => stationId.includes(op.toLowerCase()));\n  \n  if (!isTarget) return;\n\n  categories.forEach(cat => {\n    tasks.push({\n      json: {\n        stationId: station.id,\n        stationName: station.name?.en || station.id,\n        lat: station.location?.lat,\n        lon: station.location?.lng,\n        category: cat.category,\n        query_key: cat.query_key,\n        query_val: cat.query_val || '',\n        radius: cat.radius\n      }\n    });\n  });\n});\n\nreturn tasks;"
            },
            "name": "Explode L3 Tasks",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                300
            ]
        },
        {
            "id": "node-split",
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "name": "SplitInBatches",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 1,
            "position": [
                700,
                300
            ]
        },
        {
            "id": "node-build-query",
            "parameters": {
                "jsCode": "const item = items[0].json;\nif (!item.lat || !item.lon) return [{ json: { skipped: true, reason: 'No Location' } }];\n\nconst radius = item.radius || 100;\nlet selector = `[\"${item.query_key}\"]`;\nif (item.query_val) {\n  selector = `[\"${item.query_key}\"=\"${item.query_val}\"]`;\n}\n// Timeout 25s, smaller radius = faster\nconst rawQuery = `[out:json][timeout:25];(node${selector}(around:${radius},${item.lat},${item.lon});way${selector}(around:${radius},${item.lat},${item.lon}););out center body;`;\nconst queryEncoded = encodeURIComponent(rawQuery);\nreturn [{ json: { ...item, query: rawQuery, query_encoded: queryEncoded } }];"
            },
            "name": "Build Query",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        },
        {
            "id": "node-wait",
            "parameters": {
                "amount": 5,
                "unit": "seconds"
            },
            "name": "Wait (5s)",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                1100,
                300
            ]
        },
        {
            "id": "node-osm-api",
            "parameters": {
                "method": "GET",
                "url": "=https://overpass-api.de/api/interpreter?data={{$json.query_encoded}}",
                "options": {}
            },
            "name": "OSM API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1300,
                300
            ],
            "onError": "continueErrorOutput"
        },
        {
            "id": "node-format",
            "parameters": {
                "jsCode": "// L3 Context Lookup\ntry {\n  const context = $('SplitInBatches').first().json;\n  \n  if (!context || !context.stationId) {\n    return [{ json: { skipped: true, reason: 'Context Missing' } }];\n  }\n\n  if (items[0].json.skipped || items[0].json.error) {\n      return [{ json: { skipped: true, reason: 'Previous Step Skipped/Error' } }];\n  }\n\n  const apiResponse = items[0].json;\n  if (items[0].error || !apiResponse.elements) {\n     return [{ json: { skipped: true, reason: 'API Error or Empty' } }];\n  }\n  \n  const elements = apiResponse.elements || [];\n  \n  const processed = elements.map(el => {\n    const tags = el.tags || {};\n    // For L3, name is optional (unlike L1) because toilets often don't have names\n    // We will generate default names in backend if missing\n    return {\n      osm_id: el.id,\n      category: context.category,\n      location: { lat: el.lat || el.center?.lat, lon: el.lon || el.center?.lon },\n      tags\n    };\n  });\n\n  return [{\n    json: {\n      stationId: context.stationId,\n      category: context.category,\n      count: processed.length,\n      facilities: processed\n    }\n  }];\n  \n} catch (e) {\n  return [{ json: { skipped: true, error: e.message } }];\n}"
            },
            "name": "Format Ingest",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1500,
                300
            ]
        },
        {
            "id": "node-backend",
            "parameters": {
                "method": "POST",
                "url": "https://bambigo-mvp.vercel.app/api/l3/ingest",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": []
                },
                "specifyBody": "json",
                "jsonBody": "={{JSON.stringify($json)}}",
                "options": {}
            },
            "name": "Backend Ingest",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1700,
                300
            ],
            "onError": "continueErrorOutput"
        }
    ],
    "connections": {
        "Start": {
            "main": [
                [
                    {
                        "node": "Get Station List",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Station List": {
            "main": [
                [
                    {
                        "node": "Explode L3 Tasks",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Explode L3 Tasks": {
            "main": [
                [
                    {
                        "node": "SplitInBatches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SplitInBatches": {
            "main": [
                [
                    {
                        "node": "Build Query",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Query": {
            "main": [
                [
                    {
                        "node": "Wait (5s)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait (5s)": {
            "main": [
                [
                    {
                        "node": "OSM API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OSM API": {
            "main": [
                [
                    {
                        "node": "Format Ingest",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Ingest": {
            "main": [
                [
                    {
                        "node": "Backend Ingest",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Backend Ingest": {
            "main": [
                [
                    {
                        "node": "SplitInBatches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}